html {
  height:100%;
  font-family: 'Noto Color Emoji', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  background: url('images/portfolio-home.png');
  background-position: center center ;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.topnav {
  background-color: rgba(17, 24, 39, .75);
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eab308;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: left;
  }
}

.homepage {
  text-align: justify;
  object-fit: fill;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  padding: 0.6em 1em;
  border: 4px solid #eab308;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #eab308;
  font-weight: bolder;
  font-size: 16px;
}

button:hover {
  /* transform: scale(1.2) rotate(10deg); */
  transform: scale(1.2);
  background-color: #eab308;
  color: white;
}

button a {
  color: #f2f2f2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 25%;
  padding: 8px;
}
.columns-demos {
  float: left;
  width: 25%;
  padding: 8px;
}

.stat {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.stat .header {
  font-size: 30px;
}

.stat li {
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .columns {
    max-width: 50%;
  }
  .columns-demos {
    width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columns {
    max-width: 100%;
  }
  .columns-demos {
    width: 100%;
  }
}

.about-section {
  padding: 50px;
  /* text-align: justify; */
  text-align: center;
  /* background-color: rgba(17, 24, 39, .75); */
  color: white;
}

.about-section p {
  text-align: justify;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(17, 24, 39, .75);
  color: white;
  text-align: center;
}
